.cf::before,
.cf::after {
    content: " ";
    display: table;
}
.cf::after {
    clear:both;
}
cf{
    *zoom: 1; /* Для эксплорера IE6 and IE7 */
}     /* очистка плавающих элементов */

.main {
    width: 1020px;
    margin: 0 auto;
    outline: solid 1px red;
    background:green;
}